#header-section{
    background-color: #ffffff;
}
.img-fluid {
    max-width: 25%;
    height: auto;
  }
#name-div{
    font-family: Microsoft New Tai Lue;
}
#my-website{
    font-family: Segoe UI;
}
#com-div{
    font-family: SimHei;
}
#second-bg{
    background-color: #b3b3b3;
}